<a href="https://colab.research.google.com/github/benard3360-star/hello-world/blob/main/Forexanalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("/content/daily_forex_rates.csv")
df.head(5)

  currency base_currency      currency_name  exchange_rate       date
0      ZWL           EUR  Zimbabwean Dollar     344.660902  6/23/2024
1      GHS           EUR      Ghanaian Cedi      16.182406  6/23/2024
2      HRK           EUR      Croatian Kuna       7.512373  6/23/2024
3      HNL           EUR   Honduran Lempira      26.420662  6/23/2024
4      HKD           EUR   Hong Kong Dollar       8.354452  6/23/2024

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362211 entries, 0 to 362210
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   currency       362211 non-null  object
 1   base_currency  362211 non-null  object
 2   currency_name  361929 non-null  object
 3   exchange_rate  362211 non-null  float64
 4   date           362211 non-null  object
dtypes: float64(1), object(4)
memory usage: 13.8+ MB

In [14]:
# Convert date to datetime
df['date'] = pd.to_datetime(df['date'])

In [7]:
# Sort the dataframe by date and currency
df = df.sort_values(['date', 'currency'])

In [8]:
# Handle missing values in currency_name
df['currency_name'] = df['currency_name'].fillna('Unknown')

In [9]:
duplicates = df.duplicated().sum()
print(f'Number of duplicate entries: {duplicates}')

Number of duplicate entries: 0

In [10]:
# Check for invalid exchange rates
invalid_rates = df[df['exchange_rate'] <= 0].shape[0]
print(f'Number of invalid exchange rates (<=0): {invalid_rates}')

Number of invalid exchange rates (<=0): 0

In [11]:
print(df['exchange_rate'].describe())

count    3.622110e+05
mean     5.936058e+03
std      1.294711e+05
min      1.500000e-05
25%      2.521640e+00
50%      1.703100e+01
75%      1.484800e+02
max      4.881841e+06
Name: exchange_rate, dtype: float64

In [12]:
print(df.head())

       currency base_currency      currency_name  exchange_rate       date
362210      AUD           EUR  Australian Dollar         1.7237 2004-08-30
362209      AUD           EUR  Australian Dollar         1.7296 2004-08-31
362207      CAD           EUR    Canadian Dollar         1.5967 2004-08-31
362208      JPY           EUR       Japanese Yen       132.8500 2004-08-31
362205      AUD           EUR  Australian Dollar         1.7315 2004-09-01

In [13]:
# Check data types after cleaning
df.dtypes

currency                 object
base_currency            object
currency_name            object
exchange_rate           float64
date             datetime64[ns]
dtype: object

In [17]:
# Group by currency and calculate sum and count
currency_breakdown = df.groupby('currency').agg({
    'exchange_rate': ['sum', 'count', 'mean']
}).reset_index()

In [20]:
# Rename columns for clarity
currency_breakdown.columns = ['currency', 'base_currency', 'currency_name', 'exchange_rate']

In [21]:
# Sort by Total Amount in descending order
currency_breakdown = currency_breakdown.sort_values('exchange_rate', ascending=False)

In [24]:
# Calculate percentage of exchange_rate
exchange_rate = currency_breakdown['exchange_rate'].sum()
currency_breakdown['Percentage'] = (currency_breakdown['exchange_rate'] / exchange_rate) * 100

In [28]:
# Format the columns
currency_breakdown['Percentage'] = currency_breakdown['Percentage'].apply(lambda x: f'{x:.2f}%')

In [29]:
# Display the breakdown
print(currency_breakdown.to_string(index=False))

currency  base_currency  currency_name exchange_rate Percentage
     VEF   9.406721e+08           1213   $775,492.25     51.30%
     VES   7.463741e+08           1577   $473,287.34     31.31%
     IRR   1.103490e+08           2566    $43,004.28      2.84%
     VND   6.632240e+07           2563    $25,876.86      1.71%
     LAK   5.408743e+06            238    $22,725.81      1.50%
     STD   5.334678e+06            238    $22,414.61      1.48%
     BYR   1.297695e+07            657    $19,751.82      1.31%
     IDR   4.098744e+07           2566    $15,973.28      1.06%
     SLL   3.011157e+07           2547    $11,822.37      0.78%
     SYP   2.537753e+06            238    $10,662.83      0.71%
     GNF   2.537865e+07           2559     $9,917.41      0.66%
     ZMK   2.319925e+06            238     $9,747.59      0.64%
     UZS   2.161672e+07           2330     $9,277.56      0.61%
     LBP   2.062809e+07           2577     $8,004.69      0.53%
     PYG   1.823517e+07           2574     $7,084.37      0.47%
     KHR   1.166909e+07           2566     $4,547.58      0.30%
     MGA   8.136322e+06           1984     $4,100.97      0.27%
     UGX   1.041411e+07           2577     $4,041.18      0.27%
     COP   9.975360e+06           2578     $3,869.42      0.26%
     MNT   7.766218e+06           2566     $3,026.59      0.20%
     TZS   6.564273e+06           2566     $2,558.17      0.17%
     BIF   5.602846e+06           2564     $2,185.20      0.14%
     CDF   4.918512e+06           2577     $1,908.62      0.13%
     MMK   4.497253e+06           2578     $1,744.47      0.12%
     IQD   3.375114e+05            238     $1,418.12      0.09%
     KRW   3.429348e+06           2578     $1,330.24      0.09%
     NGN   3.097415e+05            238     $1,301.43      0.09%
     RWF   2.684762e+06           2561     $1,048.33      0.07%
     KPW   2.319590e+05            238       $974.62      0.06%
     MWK   2.424225e+06           2575       $941.45      0.06%
     AOA   2.153946e+05            238       $905.02      0.06%
     CLP   2.135339e+06           2562       $833.47      0.06%
     SOS   1.472176e+06           2212       $665.54      0.04%
     XAF   1.679908e+06           2561       $655.96      0.04%
     XOF   1.560889e+05            238       $655.84      0.04%
     CRC   1.652760e+06           2566       $644.10      0.04%
     KMF   1.259164e+06           2563       $491.29      0.03%
     AMD   1.026407e+05            238       $431.26      0.03%
     KZT   1.086227e+06           2566       $423.32      0.03%
     MRO   1.427884e+04             37       $385.91      0.03%
     ZWL   1.684052e+05            472       $356.79      0.02%
     HUF   8.799171e+05           2567       $342.78      0.02%
     YER   7.041849e+05           2566       $274.43      0.02%
     GYD   5.995762e+05           2566       $233.66      0.02%
     LKR   5.661462e+05           2452       $230.89      0.02%
     SDG   5.796932e+05           2562       $226.27      0.01%
     DJF   5.117409e+05           2566       $199.43      0.01%
     PKR   4.666451e+05           2565       $181.93      0.01%
     JMD   4.005458e+04            238       $168.30      0.01%
     LRD   4.201067e+05           2553       $164.55      0.01%
     KES   3.715061e+04            238       $156.10      0.01%
     ARS   3.761553e+05           2566       $146.59      0.01%
     ISK   3.578874e+05           2538       $141.01      0.01%
     DZD   3.533336e+05           2566       $137.70      0.01%
     JPY   6.962491e+05           5236       $132.97      0.01%
     NPR   3.038923e+05           2338       $129.98      0.01%
     VUV   3.220444e+05           2566       $125.50      0.01%
     ALL   2.637306e+05           2168       $121.65      0.01%
     XPF   2.843134e+04            238       $119.46      0.01%
     RSD   3.015910e+05           2544       $118.55      0.01%
     CVE   2.629193e+04            238       $110.47      0.01%
     HTG   2.515065e+05           2535        $99.21      0.01%
     BDT   2.523563e+05           2565        $98.38      0.01%
     KGS   1.905406e+05           2256        $84.46      0.01%
     AFN   2.155467e+05           2566        $84.00      0.01%
     BTN   1.893079e+05           2336        $81.04      0.01%
     INR   2.087940e+05           2578        $80.99      0.01%
     RUB   2.008868e+05           2568        $78.23      0.01%
     MZN   1.752731e+05           2562        $68.41      0.00%
     DOP   1.501851e+04            238        $63.10      0.00%
     MKD   1.584949e+05           2578        $61.48      0.00%
     PHP   1.469270e+05           2566        $57.26      0.00%
     GMD   1.321536e+05           2322        $56.91      0.00%
     MUR   1.126097e+05           2578        $43.68      0.00%
     MRU   8.638792e+03            201        $42.98      0.00%
     UYU   1.022865e+05           2578        $39.68      0.00%
     ETB   8.465821e+04           2158        $39.23      0.00%
     THB   9.622209e+04           2567        $37.48      0.00%
     NIO   8.450262e+04           2322        $36.39      0.00%
     TWD   8.782846e+04           2567        $34.21      0.00%
     UAH   8.178071e+04           2561        $31.93      0.00%
     CUP   6.829942e+03            238        $28.70      0.00%
     ZMW   6.499464e+03            238        $27.31      0.00%
     HNL   6.842378e+04           2566        $26.67      0.00%
     CZK   7.378091e+04           2844        $25.94      0.00%
     SLE   1.258975e+04            563        $22.36      0.00%
     MXN   5.916359e+04           2842        $20.82      0.00%
     EGP   5.254161e+04           2549        $20.61      0.00%
     MDL   5.205758e+04           2578        $20.19      0.00%
     MVR   4.447807e+04           2561        $17.37      0.00%
     ERN   4.401061e+04           2578        $17.07      0.00%
     SZL   4.338705e+04           2555        $16.98      0.00%
     ZAR   4.357414e+04           2568        $16.97      0.00%
     NAD   4.368316e+04           2577        $16.95      0.00%
     LSL   3.751253e+04           2215        $16.94      0.00%
     SRD   4.175751e+04           2552        $16.36      0.00%
     SCR   4.177677e+04           2572        $16.24      0.00%
     BWP   3.080886e+04           2426        $12.70      0.00%
     TRY   2.855816e+04           2568        $11.12      0.00%
     MAD   2.780064e+04           2567        $10.83      0.00%
     TJS   2.587328e+04           2419        $10.70      0.00%
     SEK   2.655200e+04           2578        $10.30      0.00%
     NOK   2.807886e+04           2844         $9.87      0.00%
     HKD   4.540142e+04           4740         $9.58      0.00%
     SVC   1.237487e+03            131         $9.45      0.00%
     SBD   1.931627e+04           2134         $9.05      0.00%
     MOP   1.977018e+04           2190         $9.03      0.00%
     GTQ   2.211228e+04           2578         $8.58      0.00%
     CNY   3.327136e+04           4166         $7.99      0.00%
     CNH   6.328354e+02             81         $7.81      0.00%
     BOB   1.956781e+04           2562         $7.64      0.00%
     HRK   1.671441e+04           2224         $7.52      0.00%
     TTD   1.926893e+04           2565         $7.51      0.00%
     DKK   1.913078e+04           2568         $7.45      0.00%
     GHS   1.844524e+04           2557         $7.21      0.00%
     BRL   1.294708e+03            238         $5.44      0.00%
     RON   1.183946e+03            238         $4.97      0.00%
     MYR   1.219981e+04           2576         $4.74      0.00%
     PLN   1.131036e+04           2577         $4.39      0.00%
     SAR   1.079888e+04           2568         $4.21      0.00%
     QAR   1.051319e+04           2573         $4.09      0.00%
     ILS   1.036771e+04           2578         $4.02      0.00%
     AED   9.466009e+02            238         $3.98      0.00%
     TMT   8.772672e+03           2239         $3.92      0.00%
     PEN   1.003232e+04           2562         $3.92      0.00%
     PGK   9.224777e+03           2463         $3.75      0.00%
     LTL   8.956498e+02            277         $3.23      0.00%
     GEL   7.074516e+03           2333         $3.03      0.00%
     XCD   7.741290e+03           2558         $3.03      0.00%
     TND   7.706562e+03           2578         $2.99      0.00%
     WST   7.100294e+02            238         $2.98      0.00%
     LYD   7.463345e+03           2553         $2.92      0.00%
     BYN   5.787998e+03           2137         $2.71      0.00%
     TOP   6.598475e+03           2566         $2.57      0.00%
     FJD   4.476419e+03           1873         $2.39      0.00%
     BZD   5.775307e+03           2562         $2.25      0.00%
     BBD   6.392307e+03           2840         $2.25      0.00%
     AWG   5.151407e+03           2559         $2.01      0.00%
     ANG   5.131802e+03           2565         $2.00      0.00%
     BGN   5.033756e+03           2574         $1.96      0.00%
     BAM   4.878602e+03           2498         $1.95      0.00%
     AZN   4.069386e+03           2257         $1.80      0.00%
     NZD   7.190342e+03           4175         $1.72      0.00%
     AUD   8.122093e+03           5238         $1.55      0.00%
     SGD   3.939951e+03           2578         $1.53      0.00%
     BND   3.919448e+03           2567         $1.53      0.00%
     CAD   7.623890e+03           5236         $1.46      0.00%
     CHF   6.520826e+03           5234         $1.25      0.00%
     USD   6.429695e+03           5218         $1.23      0.00%
     BSD   2.879451e+03           2566         $1.12      0.00%
     BMD   2.875284e+03           2567         $1.12      0.00%
     PAB   2.864044e+03           2557         $1.12      0.00%
     CUC   1.124022e+03           1016         $1.11      0.00%
     EUR   2.380000e+02            238         $1.00      0.00%
     KYD   2.352190e+03           2558         $0.92      0.00%
     SHP   2.288633e+03           2567         $0.89      0.00%
     IMP   2.047004e+02            238         $0.86      0.00%
     GIP   2.046969e+02            238         $0.86      0.00%
     JEP   2.046969e+02            238         $0.86      0.00%
     GGP   2.046960e+02            238         $0.86      0.00%
     FKP   2.177614e+03           2567         $0.85      0.00%
     GBP   4.289114e+03           5234         $0.82      0.00%
     XDR   1.945159e+03           2398         $0.81      0.00%
     JOD   2.046757e+03           2578         $0.79      0.00%
     LVL   1.559006e+02            238         $0.66      0.00%
     OMR   1.106869e+03           2566         $0.43      0.00%
     BHD   9.711880e+01            238         $0.41      0.00%
     KWD   8.735844e+02           2561         $0.34      0.00%
     XAG   1.025963e+01            238         $0.04      0.00%
     CLF   7.336141e+01           2547         $0.03      0.00%
     XAU   1.203690e-01            238         $0.00      0.00%
     BTC   5.045100e-03            238         $0.00      0.00%

In [41]:
# Calculate average transaction amounts for KES and USD
ves_avg = df[df['currency'] == 'KES']['exchange_rate'].mean()
vef_avg = df[df['currency'] == 'USD']['exchange_rate'].mean()

# Create a DataFrame to display the results
avg_amounts = pd.DataFrame({
    'currency': ['VES', 'VEF'],
    'Average Transaction Amount': [ves_avg, vef_avg]
})

# Format the average amounts
avg_amounts['Average Transaction Amount'] = avg_amounts['Average Transaction Amount'].apply(lambda x: f'{x:,.2f}')

print(avg_amounts.to_string(index=False))

# Calculate total number of transactions for KES and USD
kes_count = df[df['currency'] == 'VES'].shape[0]
usd_count = df[df['currency'] == 'VEF'].shape[0]

print(f'Total number of transactions:')
print(f'VES: {kes_count}')
print(f'VEF: {usd_count}')

currency Average Transaction Amount
     VES                     156.10
     VEF                       1.23
Total number of transactions:
VES: 1577
VEF: 1213