<a href="https://colab.research.google.com/github/benard3360-star/hello-world/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
chelsea = [("Kepa", "Arizabalaga", 26
            "Cesar", "Azpiliqueta", 34
            "John", "Terry", 37
            "Ngolo", "Kante", 28
            "Marcos", "Alonso", 32
            "Reece" "James", 23
            "Victor", " Moses")]
for firtname,lastname, age in clelsea:
  print()